body {
    margin: 0;
    font-family: Inter, sans-serif;
}

header {
    display: flex;
    background-color: #f55a5a;
    align-items: center;
    justify-content: center;
}

.header--globe {
    width: 27px;
    height: 27px;
    margin-right: 8px;
}

.header--name {
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 500;
}

.destination-card {
    margin-top: 25px;
    display: flex;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 30px;
}

.destination-card--info {
    margin-left: 20px;
}

.destination-card--name {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    margin-top: 4px;
}

.destination-card--link {
    margin-left: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: #918e9b;
}

.destination-card--location {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
}

.destination-card--ping {
    width: 9px;
    height: 12px;
    margin-right: 2px;
}

.destination-card--date {
    font-weight: 700;
}

.destination-card--image {
    width: 132px;
    height: 175px;
}

.destination-card--description {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

main {
    padding: 40px;
}
